/********************* COMMON **********************/
body {
	background-color: #222;
	color: red;
	font-family: sans-serif;
}

ul {
	color: red;
	margin: 0 auto;
}

.deb {
	border: 2px dashed blue;
}
